<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifica tu Cuenta</title>
</head>
<body>
    <p>Hola {{ nombre }},</p>
    <p>Gracias por registrarte en SGV. Usa el siguiente código para verificar tu cuenta:</p>
    
    <div style="font-size: 24px; font-weight: bold; padding: 10px; border: 1px solid #ccc; display: inline-block;">
        {{ code }}
    </div>

    <p>Este código es válido por 20 minutos.</p>
</body>
</html>